<mat-toolbar>
  <!--
    <button mat-icon-button class="material-icons-outlined" color="primary" (click)="addFolder()">
    <mat-icon>add_circle</mat-icon>
    </button>
    <button mat-icon-button class="material-icons-outlined" color="primary">
      <mat-icon>file_copy</mat-icon>
    </button>
  --> 
  <button mat-icon-button class="material-icons-outlined" color="primary">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-icon-button class="material-icons-outlined" color="primary">
    <mat-icon>vertical_align_bottom</mat-icon>
  </button>
  <button mat-icon-button class="material-icons-outlined" color="primary">
    <mat-icon>vertical_align_top</mat-icon>
  </button>
  <app-drucken #druck></app-drucken> 
  
  <span [hidden] = "!chooseDE">
    
    <app-disp-toggle #disp (messageEvent)="receiveMessage($event)"></app-disp-toggle>
  </span>
  
</mat-toolbar>
