<mat-toolbar>
  <!--
    <button mat-icon-button class="material-icons-outlined" color="primary" (click)="addFolder()">
    <mat-icon>add_circle</mat-icon>
    </button>
    <button mat-icon-button class="material-icons-outlined" color="primary">
      <mat-icon>file_copy</mat-icon>
    </button>
  --> 
  <button mat-icon-button class="material-icons-outlined" color="primary">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-icon-button class="material-icons-outlined" color="primary">
    <mat-icon>vertical_align_bottom</mat-icon>
  </button>
  <button mat-icon-button class="material-icons-outlined" color="primary">
    <mat-icon>vertical_align_top</mat-icon>
  </button>
  <app-drucken #druck></app-drucken> 
  
  <span [hidden] = "!chooseDE">
    
    <app-disp-toggle #disp (messageEvent)="receiveMessage($event)"></app-disp-toggle>
  </span>
  
  <span class="auftrag-comboBox" *ngIf="chooseAf&&groupIsOpened" >
    <mat-form-field appearance=""  floatLabel="never" style="width:100px ! important">
        <mat-label>Ansicht</mat-label>
        <mat-select disableRipple (selectionChange)="valChange($event.value)" [(value)]="selectedView" [disabled]= false> 
           <mat-option *ngFor="let auftragView of auftragViews" [value]="auftragView.value" >
               {{auftragView.name}}
           </mat-option>
        </mat-select>   
    </mat-form-field>
</span>
</mat-toolbar>


