<div class="container">    
    <table class="table table-bordered table-hover">    
      <tr>    
        <th>Id</th>    
        <th>Name</th>    
        <th>Gender</th>    
        <th>Mobile</th>    
      </tr>    
      <tr *ngFor="let item of xmlItems">    
        <td>{{item.id}}</td>    
        <td>{{item.name}}</td>    
        <td>{{item.gender}}</td>    
        <td>{{item.mobile}}</td>    
      </tr>    
    </table>    
  </div>  

<div class="row">
    <div class="col-xs-6">
        <div class="card">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="recht">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> {{element.recht}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="wert">
      <th mat-header-cell *matHeaderCellDef> Wert </th>
      <td mat-cell *matCellDef="let element"> {{element.wert}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>
</div>
</div>
<br>
<br>
<div class="row">
    <div class="col-xs-6">
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="card">
        <div class="example-button-row"> 
            <button mat-flat-button (click)="Ubernehmen()">uebernehmen</button>
            <button mat-flat-button (click)="Okay()">Okay</button>
            <button mat-flat-button (click)="Abbrechen()">Abbrechen</button>
        </div>
    </div>
    </div>
</div>