<div class="container">    
    <table class="table table-bordered table-hover">    
      <tr>    
        <th>name</th>    
        <th>Linie</th>    
        <th>Kurs</th>    
        <th>Ziel</th>    
        <th>Gruppe</th>  
      </tr>    
      <tr *ngFor="let item of xmlItems">      
        <td>{{item.name}}</td>      
        <td>{{item.Linie}}</td>   
        <td>{{item.Kurs}}</td> 
        <td>{{item.Ziel}}</td> 
        <td>{{item.Gruppe}}</td> 
      </tr>    
    </table>    
  </div>  

<div class="row">
    <div class="col-xs-6">
        <div class="card">
<table mat-table [dataSource]="arr" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="item.name">
      <th mat-header-cell *matHeaderCellDef>name</th>
      <td mat-cell *matCellDef="let item"> {{item.name}} </td>
    </ng-container>
    <ng-container matColumnDef="item.Linie">
      <th mat-header-cell *matHeaderCellDef>Linie</th>
      <td mat-cell *matCellDef="let item"> {{item.Linie}} </td>
    </ng-container>
    <ng-container matColumnDef="item.Kurs">
      <th mat-header-cell *matHeaderCellDef>Kurs</th>
      <td mat-cell *matCellDef="let item"> {{item.Kurs}} </td>
    </ng-container>
    <ng-container matColumnDef="item.Ziel">
      <th mat-header-cell *matHeaderCellDef>name</th>
      <td mat-cell *matCellDef="let item"> {{item.Ziel}} </td>
    </ng-container>
    <ng-container matColumnDef="item.Gruppe">
      <th mat-header-cell *matHeaderCellDef>name</th>
      <td mat-cell *matCellDef="let item"> {{item.Gruppe}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="xmlItems"></tr>
    <tr mat-row *matRowDef="let row; columns: xmlItems;"></tr>
</table>

</div>
</div>
</div>
<br>
<br>
<div class="row">
    <div class="col-xs-6">
        <div class="card">
        <div class="example-button-row"> 
            <button mat-flat-button (click)="Ubernehmen()">uebernehmen</button>
            <button mat-flat-button (click)="Okay()">Okay</button>
            <button mat-flat-button (click)="Abbrechen()">Abbrechen</button>
        </div>
    </div>
    </div>
</div>