<div class="main-container"  (mouseup)="changeResizeMode(false, $event)" (mousemove)="changeLeftContainerWidth($event)" (mouseleave)="changeResizeMode(false, $event)">
    
    <div class="left-container" [style.width.px]="leftContainerWidth">
        <mat-card>Anzeiger / -gruppen</mat-card>      
        <app-dyfa-linienauswahl-tree-view></app-dyfa-linienauswahl-tree-view>
        
       <span>
        <button mat-raised-button class= "Loeschen-button"><b>Alle Markierung löschen</b></button>
       </span>
    </div>

    <!--
    <div class="resize-handle" (mousedown)="changeResizeMode(true, $event)" (mouseup)="changeResizeMode(false, $event)" [style.background-color]="highlightHandle">
    </div>-->

    <div class="mittel-container ">
        <button class="button_position">>></button>
    </div>
  
    <div class="right-container"> 
        <mat-card>Dyfas(15)</mat-card>    
        <app-dyfa-right-view></app-dyfa-right-view>
        <mat-checkbox class="example-margin">alle DyFas anzeigen</mat-checkbox>
        <span>
            <button mat-raised-button class= "ListeLoeschen-button"><b>Liste löschen</b></button>
        </span>
    </div> 
</div> 

