<div class="main-container"  (mouseup)="changeResizeMode(false, $event)" (mousemove)="changeLeftContainerWidth($event)" (mouseleave)="changeResizeMode(false, $event)">
    
    <div class="left-container" [style.width.px]="leftContainerWidth">
        <mat-card>Anzeiger / -gruppen</mat-card>      
        <app-dyfa-linienauswahl-tree-view></app-dyfa-linienauswahl-tree-view>
        
    </div>

    <!--
    <div class="resize-handle" (mousedown)="changeResizeMode(true, $event)" (mouseup)="changeResizeMode(false, $event)" [style.background-color]="highlightHandle">
    </div>-->

    <div class="mittel-container ">
        <button class="button_position">>></button>
    </div>
  
    <div class="right-container"> 
        <mat-card>Dyfas(15)</mat-card>    
        <app-anzeig-right-view></app-anzeig-right-view>
        <div class="dyfa-menu">
            <mat-checkbox class="dyfa-checkbox">alle DyFas anzeigen</mat-checkbox>
        <span class="dyfa-span">
            <button mat-raised-button class= "dyfa-button"><b>Liste löschen</b></button>
        </span>
        </div>
        
    </div> 
</div> 

