.main-wind {
    width: 100%;
    height: 500px;
    //margin-top: 10px;
    //margin-left: 2px;
    background-color: white;
    overflow: auto;
}

.wind-row{
    width: 100%;
    height: 30px;
    background-color: rgb(204, 207, 207);
}

.wind-column{
    width: 40px;
    height: 508px;
    background-color: rgb(204, 207, 207);
}

.display-table {
    width: 100%;
    height: 100%;
    margin-right: 10px; 
}

//Einstellung für Zeile: Title
.mat-header-row{
    height: 30px;
}

.mat-row{
    height: 2px;
}

//Einstellung für allen Einheiten in der title
.mat-header-cell{
    font-size:12px;
    height: 5px;
    vertical-align: left;
    padding: 0px 5px 0px 5px;
    border-right: .5px solid rgba(0, 0, 0, 0.12);
    background-color: rgb(204, 207, 207);
    white-space: nowrap; /* 不换行 */
}
//spezial für erste Zeile:
.mat-cell.cdk-column-id, .mat-header-cell.cdk-column-id{
    font-size:12px;
    height: 5px;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
    border-left: .5px solid rgba(0, 0, 0, 0.12);
    border-right: .5px solid rgba(0, 0, 0, 0.12);
    background-color: rgb(204, 207, 207);
}

.mat-cell {
    font-size:12px;
    height: 5px;
    border-right: .5px solid rgba(0, 0, 0, 0.12);
}

// displayTableColumns: string[]=["id","nr","zeile","kategorie","text","layer","font","ausrichtung","x1","y1","x2","y2","senden"];
.mat-cell.cdk-column-nr, .mat-cell.cdk-column-zeile,
.mat-cell.cdk-column-kategorie, .mat-cell.cdk-column-text,
.mat-cell.cdk-column-layer, .mat-cell.cdk-column-font, .mat-cell.cdk-column-x1,
.mat-cell.cdk-column-y2,.mat-cell.cdk-column-x2,.mat-cell.cdk-column-y2
{
    text-align: right;
    padding: 0px 2px 0px 2px;
    min-width: 40px;
    max-width: 150px;
    text-overflow: ellipsis; /* 显示... */
    overflow: hidden; /* 隐藏文字 */
    white-space: nowrap; /* 不换行 */
}

.mat-cell.cdk-column-ausrichtung, .mat-cell.cdk-column-gruppe, .mat-cell.cdk-column-status,.mat-cell.cdk-column-senden{
    text-align: left;
    padding: 0px 2px 0px 2px;
    min-width: 50px;
    max-width: 300px;
    text-overflow:ellipsis; /* 显示... */
    overflow: hidden; /* 隐藏文字 */
    white-space: nowrap; /* 不换行 */
    //cursor: pointer; /* hover显示手形 */
}



.mat-button-toggle-group {
    width: 100%;
  }