<p>
    <mat-toolbar>
      <span>Dateneditor</span>
    </mat-toolbar>
  </p>

<app-toolbar></app-toolbar>
<app-toolbar-app #toolbar></app-toolbar-app>

<div class="main-container"  (mouseup)="changeResizeMode(false)" (mousemove)="changeLeftContainerWidth($event)" (mouseleave)="changeResizeMode(false)">
  <div class="left-container" [style.flex-basis]="leftContainerWidth">      
    <app-tree-view></app-tree-view> 
  </div>
  <div class="resize-handle" (mousedown)="changeResizeMode(true)" (mouseup)="changeResizeMode(false)" [style.background-color]="highlightHandle">
      <div>||</div>
  </div>
  <div class="right-container">
         
    <app-data-table [toolbar]='toolbar'>
    </app-data-table>
  </div>
</div>