.full-width-table {
    width: 100%;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }

  .wind1 {
    width: 700px;
    margin-top: 10px;
    background-color: white;
  }
  
  .wind2 {
    width: 700px;
    margin-top: 10px;
    background-color: white;
  }