
<div class="topnav"></div><!DOCTYPE html>

  
  <div class="header">
    <h1>Sondertext</h1>
  </div>
  
  <div class="topnav">
    <a href="#">Sondertext</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#" style="float:right">Link</a>
  </div>
  
  <div class="row">
    <div class="leftcolumn">
      <div class="card">  
          <app-toolbar #toolbar></app-toolbar>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <div class="container">
            <app-data-table [toolbar] = 'toolbar'></app-data-table>
        </div>
      </div>
    </div>
  </div>