
<div class="topnav"></div><!DOCTYPE html>
  
  <div class="topnav">
    <app-dateimenu></app-dateimenu>
    <app-bearbeitenmenu></app-bearbeitenmenu>
    <app-ansichtmenu></app-ansichtmenu>
  </div>

  <div class="topnav">
    <app-toolbar-app></app-toolbar-app>
  </div>

  <div [hidden]="toolbar.dialoghidden">
    <mat-drawer-container class="example-container">
        <mat-drawer mode="side" opened>
          <app-toolbar #toolbar></app-toolbar>
        </mat-drawer>
    <mat-drawer-content>
    <div [hidden]="toolbar.dialoghidden">
      <app-data-table [toolbar] = 'toolbar'></app-data-table>
    </div>
    <div [hidden]="toolbar.dialogshow">
        <app-table [toolbar] = 'toolbar'></app-table>
    </div>
   </mat-drawer-content>
  </mat-drawer-container>
</div>