<div class="topnav"></div><!DOCTYPE html>
  <html>
  <head>
  <link rel="stylesheet" href="app.component.scss">
  <!-- Default theme -->
  <link rel="stylesheet" href="http://unpkg.com/@progress/kendo-theme-default/dist/all.css" />

  <!-- Bootstrap theme -->
  <link rel="stylesheet" href="http://unpkg.com/@progress/kendo-theme-bootstrap/dist/all.css" />

  <!-- Material theme -->
  <link rel="stylesheet" href="http://unpkg.com/@progress/kendo-theme-material/dist/all.css" />
  </head>
  <body>

  
  <div class="header">
    <h1>Sondertext</h1>
  </div>
  
  <div class="topnav">
    <a href="#">Sondertext</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#" style="float:right">Link</a>
  </div>

  
  <app-test #test></app-test>
  
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <div class="container">
            <app-table></app-table>
            <app-tree-view></app-tree-view>
        </div>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <div class="container">
            <app-table></app-table>
        </div>
      </div>
    </div>
  </div>

  
  <app-tree-view></app-tree-view>
  </body>
  </html>