<div class="main-container"  (mouseup)="changeResizeMode(false, $event)" (mousemove)="changeLeftContainerWidth($event)" (mouseleave)="changeResizeMode(false, $event)">
    
    <div class="left-container" [style.width.px]="leftContainerWidth">
        <mat-card>Anzeiger / -gruppen</mat-card>      
        <app-anzeig-linienauswahl-tree-view></app-anzeig-linienauswahl-tree-view>
        
       <span>
        <button mat-raised-button class= "Loeschen-button"><b>Alle Markierung löschen</b></button>
       </span>
    </div> 


    <div class="mittel-container ">
        <button class="button_position">>></button>
    </div>
  
    <div class="right-container"> 
        <mat-card>Dyfas(15)</mat-card>    
        <app-anzeig-right-view></app-anzeig-right-view>
        <div class="anzeige-menu">
            <mat-checkbox class="anzeige-checkbox">alle DyFas anzeigen</mat-checkbox>
            <span class="anzeige-span">
                <button mat-raised-button class= "anzeige-button"><b>Liste löschen</b></button>
            </span>
        </div>
       
    </div> 
</div> 
