<mat-button-toggle-group name="fontStyle" aria-label="Font Style" >
    <mat-button-toggle mat-flat-button class="material-icons-outlined" value="graf" (change)="valChange($event.value)"><mat-icon>image</mat-icon></mat-button-toggle> 
    <mat-button-toggle mat-icon-button class="material-icons-outlined" value="tabe" (change)="valChange($event.value)"><mat-icon>table_view</mat-icon></mat-button-toggle> 
    <mat-button-toggle mat-flat-button class="material-icons-outlined" value="both" (change)="valChange($event.value)" ><mat-icon>apps</mat-icon></mat-button-toggle>  
</mat-button-toggle-group>
    

  
