  
<mat-button-toggle-group name="fontStyle" aria-label="Font Style" >
    <mat-button-toggle mat-flat-button color="primary" value="graf" (change)="valChange($event.value)">Grafik</mat-button-toggle> 
    <mat-button-toggle mat-flat-button color="primary" value="tabe" (change)="valChange($event.value)">Tabelle</mat-button-toggle> 
    <mat-button-toggle mat-flat-button color="primary" value="both" (change)="valChange($event.value)" >Beide</mat-button-toggle>  
</mat-button-toggle-group>
    

  
