.mat-button-toggle-group {
    height: 34px;
    margin: 1px;
    align-items: center;
    
}
.mat-button-toggle {
    background-color: #5296a0;
    color: white;
}

.mat-button-toggle-checked {
    background-color: royalblue;
    color: white;
}