<cdk-virtual-scroll-viewport itemSize="150" class="scroll-window">
  
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node class = "letNode" *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePaddingIndent="20">
    
      <button mat-icon-button disabled></button>
      
      
      <div class="example-button-row">
        <div (click)="activeNode = node" [ngClass]="{ 'background-highlight': activeNode === node }">
          <button mat-icon-button class="checklist-leaf-node" class="material-icons-outlined"
            (click)="displayRightContainer(node)"
            (change)="LeafItemSelectionToggle(node)" 
            ><mat-icon class="file_open_icon">description</mat-icon>{{node.name}}
          </button>    
        </div>
      </div>
      <span class="example-spacer"></span> 
      <div (click)="activeNode = node" [ngClass]="{ 'background-highlight': activeNode === node }">
      <label [ngClass]="{show_btn: activeNode === node, hide_btn: activeNode !== node}">  
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="addNewItem(node)" color="primary"><mat-icon>add</mat-icon></button>
          <button mat-menu-item (click)="openDialog(node)" color="primary"><mat-icon>delete</mat-icon></button>
          <button mat-menu-item class="material-icons-outlined" (click)="copyItem(node)" color="primary"><mat-icon>content_copy</mat-icon></button>
          <button mat-menu-item class="material-icons-outlined" (click)="cutItem(node)" color="primary"><mat-icon>content_cut</mat-icon></button>
          <button mat-menu-item class="material-icons-outlined" (click)="pasteItem(node)" color="primary"><mat-icon>content_paste</mat-icon></button>
          <button mat-menu-item (click)="changeItem(node)" color="primary"><mat-icon>create</mat-icon></button>
        </mat-menu>
      </label>
    </div>
    </mat-tree-node>

    <mat-tree-node class = "letNodeNoContent" *matTreeNodeDef="let node; when: hasNoContent"
    (click)="activeNode = node" matTreeNodePaddingIndent="20" [ngClass]="{ 'background-highlight': activeNode === node }" >
      <button mat-icon-button disabled></button>
      <mat-form-field>
        <mat-label>New item...</mat-label>
        <input matInput #itemValue placeholder="Ex. Lettuce">
      </mat-form-field>
      <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
    
    </mat-tree-node>

    <mat-tree-node class = "letNodeNoChild" *matTreeNodeDef="let node; when: hasChild" 
    (click)="activeNode = node" matTreeNodePaddingIndent="20" [ngClass]="{ 'background-highlight': activeNode === node }" >
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="file_icon">
          {{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
        </mat-icon>
      </button>
      
      <div class="example-button-row">
      <button mat-icon-button class="checklist-leaf-node"
                    (click)="descendantsAllSelected(node)"
                    (change)="itemSelectionToggle(node)">{{node.name}}</button> </div>
      <span class="example-spacer"></span> 
        <label [ngClass]="{show_btn: activeNode === node, hide_btn: activeNode !== node}">         
          
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="addNewItem(node)" color="primary"><mat-icon>add</mat-icon></button>
          <button mat-menu-item (click)="openDialog(node)" color="primary"><mat-icon>delete</mat-icon></button>
          <button mat-menu-item class="material-icons-outlined" (click)="copyItem(node)" color="primary"><mat-icon>content_copy</mat-icon></button>
          <button mat-menu-item class="material-icons-outlined" (click)="cutItem(node)" color="primary"><mat-icon>content_cut</mat-icon></button>
          <button mat-menu-item class="material-icons-outlined" (click)="pasteItem(node)" color="primary"><mat-icon>content_paste</mat-icon></button>
          <button mat-menu-item (click)="changeItem(node)" color="primary"><mat-icon>create</mat-icon></button>
          </mat-menu>
        </label> 
    </mat-tree-node>
  </mat-tree>

</cdk-virtual-scroll-viewport>