// Setting for scrollbar
.scroll-window{
  height: 100%;
  width: 100%;
  border: 0px solid black;
}
  
// Setting 
.action-icons {
  margin-right: 0.5rem;
  cursor: pointer;
}

.row {
  margin-left: 0rem;
  margin-right: 0rem;
  width: 100%;
}
.tree-invisible {
  display: none;
}


// Node background colors
/*
.level-1 {
  background-color: #ffffff;
}
.level-2 {
  background-color: #f5f2f2;
}
.level-3 {
  background-color: #c9f4d0;
}
*/


// Setting for tree
.mat-tree-node, .mat-nested-tree-node {
  min-height: auto;
  background-color: white;
  color:black;
  border: 0px solid rgb(167, 167, 167);
}


.mat-icon {
  color: rgb(150, 150, 150);
}
.mat-icon:hover {
  color:rgb(12, 12, 12);
}

.txtColor:hover{
  color: rgb(50, 50, 50);
  cursor: pointer;
}

.background-highlight{
  background: #e7e7e7;
  
}
.mat-icon-button{
  font-family: sans-serif,  Arial, 'Arial Narrow','Franklin Gothic Medium'  ;
  font-size: 16px;
}

.example-spacer {
  flex: 1 1 auto;
}

.hide_btn {
  overflow: hidden;
  opacity: 0;
}

.show_btn {
  opacity: 0.5;
}

.show_btn:hover
{
  opacity: 1;
}

.checklist-leaf-node {
  margin: 0 0px;
}

/*
// Setting for checkbox icon
::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: #405e5f !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #405e5f !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #27A6B2 !important;
}
*/





// Setting for Contextmenu(Effect like openning a context menu window)
/*
.mat-menu{
  background-color: rgb(255, 255, 255);
}
*/

.mat-menu-item{
  background-color: rgb(255, 255, 255);

}
.mat-menu-item:hover{
  background-color:#e7e7e7;
}

.example-button-row {
  display: table-cell;
  width: 100%;
}