<table class="full-width-table"  border = "2px">
    <tr class = "head">
       <td>    </td>  
       <td>Nr. </td>  
       <td>Bez.</td>  
       <td>Gruppe</td> 
       <td>Text</td>  
       <td>Priorität</td>  
       <td>Beginn am</td>  
       <td>um</td> 
       <td>Ende am</td>  
       <td>um</td>  
       <td>Alle</td> 
       <td>Für</td>  
       <td>Zyklus</td>  
       <td>TagType</td>  
       <td>Status</td> 
    </tr>
    <tr>
       <td style="background-color:rgb(204, 207, 207);">1</td>  
       <td>13</td>  
       <td>Bauarbeiten U79 Duisburg</td>  
       <td>Dyfas(15)</td> 
       <td>0</td>  
       <td>minimal</td>  
       <td>01.01.2100</td>  
       <td>06:00</td> 
       <td>01.01.2100</td>  
       <td>12:00</td>  
       <td>180</td> 
       <td>60</td>  
       <td>dauemd</td>  
       <td></td>  
       <td>erteilt</td> 
    </tr>
    <tr>
       <td style="background-color:rgb(204, 207, 207);"></td> 
       <td colspan="14">Auf der Linie U79 kommt es aktuell leider zu Verspätungen. Grund dafür sind Bauarbeiten in Duisburg.
           <div class = "display">
               <ng-marquee speed="drowsy" class="text">
                   {{removeQuotes('Auf der Linie U79 kommt es aktuell leider zu Verspätungen. Grund dafür sind Bauarbeiten in Duisburg.' | json)}}
               </ng-marquee>
             </div>
       </td>   
    </tr>
    <tr>
       <td style="background-color:rgb(204, 207, 207);">2</td>  
       <td>1</td>  
       <td>EVAKUIERUNGSTEXT Steige de/en Grundtext</td>  
       <td>Evakuierung Tunnel</td> 
       <td>1548</td>  
       <td>hoch</td>  
       <td>01.01.2025</td>  
       <td>03:30</td> 
       <td>01.01.2026</td>  
       <td>03:30</td>  
       <td></td> 
       <td>30</td>  
       <td>dauemd</td>  
       <td></td>  
       <td>erteilt</td> 
    </tr>
    <tr>
       <td style="background-color:rgb(204, 207, 207);"></td> 
       <td colspan="14">Maßnahmen zur Eindämmung der Corona-Pandemie: Die Rheinbahn fährt werktags nach Samstagsfahrplan. KundenCenter, Fundbüro, Service Point und das Büro für Fahrgeldangelegenheiten (EBE) bleiben bis auf Weiteres geschlossen. Mehr infos auf www.rheinbahn.de
           <div class = "display">
               <ng-marquee speed="drowsy" class="text">
                   {{removeQuotes('Maßnahmen zur Eindämmung der Corona-Pandemie: Die Rheinbahn fährt werktags nach Samstagsfahrplan. KundenCenter, Fundbüro, Service Point und das Büro für Fahrgeldangelegenheiten (EBE) bleiben bis auf Weiteres geschlossen. Mehr infos auf www.rheinbahn.de' | json)}}
               </ng-marquee>
             </div>
       </td>   
    </tr>
    
</table>


