

<!--
<mat-button-toggle-group name="fontStyle" aria-label="Font Style" >
    <mat-button-toggle mat-flat-button class="material-icons-outlined" value="graf" (change)="valChange($event.value)"><mat-icon>image</mat-icon></mat-button-toggle> 
    <mat-button-toggle mat-icon-button class="material-icons-outlined" value="tabe" (change)="valChange($event.value)"><mat-icon>table_view</mat-icon></mat-button-toggle> 
</mat-button-toggle-group>
-->



<span class="comboBox" >
    <mat-form-field appearance=""  floatLabel="never" style="width:100px ! important">
        <mat-label>Ansicht</mat-label>
        <mat-select disableRipple (selectionChange)="valChange($event.value)" [(value)]="selectedView" [disabled]= false> 
           <mat-option *ngFor="let view of views" [value]="view.value" >
               {{view.name}}
           </mat-option>
        </mat-select>   
    </mat-form-field>
</span>
<!--
    <mat-icon>table_view</mat-icon> 
    <mat-icon>image</mat-icon> 
-->
