<!-- #docregion mat-menu-trigger-for -->
<button mat-button [matMenuTriggerFor]="menu">Bearbeiten</button>
<!-- #enddocregion mat-menu-trigger-for -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click) = 'openDateneditor()'>Dateneditor...</button>
  <button mat-menu-item (click) = 'openDyFaAuftrage()'>DyFa-Aufträge...</button> 
  <button mat-menu-item (click) = 'openSondertextDatenbank()'>Sondertext-Datenbank...</button>
  <button mat-menu-item (click) = 'openDisplayeditor()'>Displayeditor...</button> 
  <button mat-menu-item (click) = 'openFahrplan()'>Fahrplan importieren...</button>
</mat-menu>