.window-display {
    color: black;
    background-color: black;
    width: 355px;
    height: 100px;
    padding: 4px 4px 4px 4px;
}
  
  .example-button-row .mat-button-base {
    margin: 0px 2px 0px 0px;
  }
  
  
  .light-button-li {
    height: 30px; 
    width: 50px;
    text-align: left;
    padding: 0px;
    color: yellow;
    font-size: 100%;
    border: 1px solid white;
    border-radius:0%;
} 

.light-button-z {
    height: 30px; 
    width: 200px;
    text-align: left;
    padding: 0px;
    color: yellow;
    font-size: 100%;
    border: 1px solid white;
    border-radius:0%;
} 
  
.light-button-wmin {
    height: 30px; 
    width: 80px;
    text-align: left;
    padding: 0px;
    color: yellow;
    font-size: 100%;
    border: 1px solid white;
    border-radius:0%;
} 
  
.buttonclick {
    border: 1px solid blue;
  }
  
.buttonorigin {
  border: 1px solid white;
} 

.window-table{

  width: 100%;
  height: 500px;

}