<div [hidden]="showDatenEditor">
<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="menu">Datei</button>
  <!-- #enddocregion mat-menu-trigger-for -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click) = 'openDateneditor()'>Betriebstagebuch importieren</button>
    <button mat-menu-item (click) = 'openDyFaAuftrage()'>Beenden</button> 
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu">Ansicht</button>
  <!-- #enddocregion mat-menu-trigger-for -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click) = 'openDateneditor()'>...</button>
    <button mat-menu-item (click) = 'openDyFaAuftrage()'>...</button> 
  </mat-menu>
    <app-disp-toggle #disp (messageEvent)="receiveMessage($event)"></app-disp-toggle>
</mat-toolbar>

<app-tree-view #treeview (toolbar)="showDialog($event)"></app-tree-view>
  
</div>